<script setup lang="ts">
import type LoginView from "./views/LoginView.vue";
import MainView from "./views/MainView.vue";
import { ref, computed, onMounted } from "vue";
import { useloginStore } from "@/stores/login";
const loginStore = useloginStore();
onMounted(() => {
  loginStore.loadData();
});
</script>

<template>
  <LoginView v-if="!loginStore.islogin" />
  <MainView
    v-if="loginStore.islogin"
    @logout="loginStore.logout"
    :login-name="loginStore.loginName"
  />
</template>

<style scoped></style>
