<script setup lang="ts">
import { useloginStore } from "@/stores/login";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const loginStore = useloginStore();
const Loginname = ref("");
const password = ref("");
const valid = ref(true);
const from = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await from.value!.validate();
  if (valid) {
    loginStore.login(Loginname.value);
  }
};

const reset = () => {
  from.value?.reset();
};
</script>
<template>
  <v-app>
    <v-main class="bg-bule-grey-darken-2 pa-16">
      <v-card width="400px" class="mx-auto">
        <v-card-title
          primary-title
          class="text-center text-h6 font-weight-bold"
        >
          login
        </v-card-title>
        <v-card-text>
          <v-form ref="from" v-model="valid">
            <v-text-field
              label="Login Name"
              v-model="Loginname"
              :rules="[
                (v) => !!v || 'Login Name is required',
                (v) => v.length >= 4 || 'Name must be more than 4 characters',
              ]"
              required
            ></v-text-field>
            <v-text-field
              label="Password"
              type="password"
              v-model="password"
              :rules="[
                (v) => !!v || 'Password is required',
                (v) => v.length >= 8 || 'Name must be more than 8 characters',
              ]"
              required
            ></v-text-field>
          </v-form>
          <pre></pre>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login">login</v-btn>
          <v-btn color="error" @click="reset">clear</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>

  <div></div>
</template>
